*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 30%;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
    justify-content: space-between;
    p{
        display: flex;
        gap: 20px;
    }
}
.container img {
    height: 35%;
    width: 100%;
}
.textBox{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.btnBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    button{
        width: 140px;
        height: 35px;
        align-items: center;
        justify-content: center;
        border: 1px solid gray;
        cursor: pointer;
        font-size: 15px;
        color: black;
        font-weight: 600;
        background-color: pink;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:991px) {
    .container{
        width: 45%;
    }
}
@media screen and (max-width:700px) {
    .container{
        width: 90%;
    }
}